.mainTitle {
  margin: 1% auto;
  text-align: center;
  font-size: 3vh;
}

.loginContainer {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.loginButton {
  height: 2rem;
  width: auto;
  text-align: center;
  justify-content: center;
  padding: 5%;
  line-height: 2px;
  margin: 4% auto;
  font-size: 3.5vh;
  background-color: #31fc83;
  border: .75px solid black;
  border-radius: 7px;
  cursor: pointer;
}