.parentContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: #262626;
    position: absolute;
}

.mainContainer {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}