.globalFilterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    color: #fff;
    margin-bottom: 2%;
    width: 50%;
}

.filterInput {
    height: 30px;
    width: 80%;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 2vh;
    border-radius: 3px;
    margin-left: 5%;
}

.globalFilterContainer .text {
    white-space: nowrap;
}

.columnFilterInput {
    height: 10%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 2vh;
    border-radius: 3px;
    margin-top: 10%;
}